on:
  pull_request:
  push:
    branches: 
      - main
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - run: rustup show
   
      - run: |
          RUST_BACKTRACE=1 cargo build
